---
import "../../css/global.css"
interface Props {
    to: string,
    displays: string
}
const {to, displays} = Astro.props
---
<a href={to} class="link txt">
    {displays}
</a>
<style>
      @import "tailwindcss/base";
      @import "tailwindcss/components";
      @import "tailwindcss/utilities";
    .link {
        transition-duration: 250ms;
        border-radius: 0.375rem;
        padding: 0.5rem;
        &:hover {
            color: yellow;
        }
    }
</style>