---
---
<a href="/" class="dark:hidden"><img class="image" src="/home/home-dark.svg" alt="logo"></a>
<a href="/" class="dark:block"><img class="image" src="/home/home-light.svg" alt="logo"></a>
<style>
    .image {
        width: 2.5rem;
        height: 2.5rem;
        margin: 0.5rem;
    }
</style>